<!DOCTYPE html>
<html>
  <head>
    <title>Data Export</title>
  </head>

  <body>
    <h1>🤖 Machine Learning Workflow/Pipeline</h1>

    <h2>Code Download</h2>

    <embed src="https://colab.google/" width="100%" height="500px" />
  </body>

  <footer>
    <br />

    <br />

    <hr />

    <br />

    <br />

    <div style="text-align: center">
      <form action="export">
        ◦◦•
        <button>
          <a href="/model">« BACK</a>
        </button>
      </form>
    </div>
  </footer>
</html>
