<!DOCTYPE html>
<html>

<head>
  <title>Machine Learning-GUI Web Application - Export</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body>
  <h1>🤖 Machine Learning-GUI Web Application</h1>
  <div class="container">
    <h2>Code Download</h2>
    <h4>🔗 <a href="/data" target="_blank">CSV Source</a></h4>

    <form action="{{ url_for('export_model') }}" method="post">
      <input type="submit" value="Model Export" />
    </form>

    <br>

    <details>
      <summary>Sample Code</summary>
      <embed src="https://colab.google/" width="100%" height="500px" />
    </details>

    <h4>Credits</h4>

    <p>
    <ul>
      <li>This website was designed/developed by <a href="https://github.com/jbonda/">Jhansi Bonda</a> and <a
          href="https://github.com/TechSolomon/">Solomon Himelbloom</a> as part of <a
          href="https://www.cs.uaf.edu/courses/cs600-professional-software-development/index.html">Professional
          Software Development</a> (CS 600) from the Fall 2023 semester at UAF.</li>
      <br>
      <li>Source code: <a
          href="https://github.com/jbonda/ml-workflow-pipeline">https://github.com/jbonda/ml-workflow-pipeline</a></li>
      <br>
      <li>We also acknowledge <a href="https://github.com/raelewis">Rachel Lewis</a>, <a
          href="https://github.com/TAWinterton2">Travis Winterton</a>, <a href="https://github.com/YaliWang2019">Yali
          Wang</a>, & <a href="https://github.com/akdasuaf">Dr. Das</a> for their insights + feedback throughout the
        project.
      </li>
    </ul>
    </p>

    <div class="page-navigation">
      ◦◦◦◦◦•
      <a href="/evaluation" class="button">« Evaluation</a>
    </div>
  </div>
</body>

</html>
