<!DOCTYPE html>
<html>
  <head>
    <title>CS600_MLGUI</title>
  </head>
  <body>
    <h1>Machine Learning-GUI Web Application</h1>
    <p>
      Welcome to the Machine learning web app!

      <br />

      <br />

      This website is designed to train a data set by
      <a href="https://en.wikipedia.org/wiki/Linear_regression"
        >Linear Regression</a
      >, Polynomial Regression, and Logistic Regression.

      <br />

      <br />

      The regression can be defined as:
      <blockquote>
        "Using the relationship between variables to find the best-fit line or the regression equation that can be
      used to make predictions." -- <a href="https://towardsdatascience.com/introduction-to-linear-regression-and-polynomial-regression-f8adc96f31cb">Towards Data Science</a>
      </blockquote>


    </p>

    <h2>Data Upload</h2>

    <p>
        Upload a data file. Make sure your file extension is <b>.CSV</b> (comma-separated values).
    </p>

    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" value="Upload" />
    </form>

    <h3>Split Data</h3>

    <p>Splitting the data file into a train data set and a test data set by choosing the test data value.
        Test data should less than train data for an optimum model.</p>

    <form method="POST" action="/split">
      <label for="input_column">Select Input Column:</label>
      <select name="input_column" id="input_column">
        {% for column in columns %}
        <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
      </select>

      <label for="target_column">Select Target Column:</label>
      <select name="target_column" id="target_column">
        {% for column in columns %}
        <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
      </select>

      <label for="test_size">Test Size (0-0.5):</label>
      <input type="number" step="0.1" placeholder="0.2" name="test_size" id="test_size" />
      <input type="submit" value="Split Data" />
    </form>

    <br />

    <form method="POST" action="/visualize_whole">
      <input type="submit" value="Visualize Whole Data" />
    </form>

    <br />

    <form method="POST" action="/visualize_training">
      <input type="submit" value="Visualize Training Data" />
    </form>

    <br />

    <form method="POST" action="/visualize_testing">
      <input type="submit" value="Visualize Testing Data" />
    </form>

    {% if graphic %}
    <img src="data:image/png;base64,{{ graphic }}" alt="Data Visualization" />
    {% endif %} {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>

  <footer>

    <br />

    <br />

    <hr />

    <br />

    <br />

    <div style="text-align: center;">
      <form action="model">
        •◦◦
        <input type="submit" value="NEXT »">
      </form>
    </div>
  </footer>
</html>
