<!DOCTYPE html>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }
  td:first-child {
    font-style: italic;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Data Configuration</title>
  </head>

  <body>
    <h1>🤖 Machine Learning Workflow/Pipeline</h1>

    <h2>Model Training & Setting Hyperparameters</h2>

    <p>Choose a suitable machine learning model to train your data.</p>

    <div>
      <form method="POST" action="/model">
        <input type="radio" id="simple" name="model" value="simple" />
        <label for="simple">Simple Linear Regression</label>

        <details open>
          <summary>Hyperparameters</summary>

          <h4>
            Source:
            <a
              href="https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html"
              ><code>sklearn.linear_model.SGDRegressor</code></a
            >
          </h4>

          <table>
            <tr>
              <th>Parameter</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>loss</td>
              <td>
                <select name="loss" id="loss">
                  <option value="squared_loss">Squared Loss</option>
                  <option value="huber">Huber</option>
                  <option value="epsilon_insensitive">
                    Epsilon Insensitive
                  </option>
                  <option value="squared_epsilon_insensitive">
                    Squared Epsilon Insensitive
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>penalty</td>
              <td>
                <select name="penalty" id="penalty">
                  <option value="l2">L2</option>
                  <option value="l1">L1</option>
                  <option value="elasticnet">Elastic Net</option>
                  <option value="none">None</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>alpha</td>
              <td>
                <input
                  type="number"
                  step="0.0001"
                  placeholder="(default = 0.0001)"
                  name="alpha"
                />
              </td>
            </tr>
            <tr>
              <td>l1_ratio</td>
              <td>
                <input
                  type="number"
                  step="0.15"
                  placeholder="(default = 0.15)"
                  name="l1_ratio"
                />
              </td>
            </tr>
            <tr>
              <td>fit_intercept</td>
              <td>
                <input
                  type="checkbox"
                  placeholder="fit_intercept"
                  name="fit_intercept"
                  value="true"
                />
              </td>
            </tr>
            <tr>
              <td>max_iter</td>
              <td>
                <input
                  type="number"
                  step="1000"
                  placeholder="(default = 1000)"
                  name="max_iter"
                />
              </td>
            </tr>
            <tr>
              <td>
                <abbr title="Tolerance">tol</abbr>
              </td>
              <td>
                <input
                  type="number"
                  step="1e-3"
                  placeholder="(default = 1e-3)"
                  name="tol"
                />
              </td>
            </tr>
            <tr>
              <td>shuffle</td>
              <td>
                <input
                  type="checkbox"
                  placeholder="shuffle"
                  name="shuffle"
                  value="true"
                />
              </td>
            </tr>
            <tr>
              <td>verbose</td>
              <td>
                <input
                  type="checkbox"
                  placeholder="verbose"
                  name="verbose"
                  value="true"
                />
              </td>
            </tr>
            <tr>
              <td>epsilon</td>
              <td>
                <input
                  type="number"
                  step="0.1"
                  placeholder="(default = 0.1)"
                  name="epsilon"
                />
              </td>
            </tr>
            <tr>
              <td>random_state</td>
              <td>
                <input
                  type="text"
                  placeholder="(default = None)"
                  name="random_state"
                />
              </td>
            </tr>
            <tr>
              <td>learning_rate</td>
              <td>
                <select name="learning_rate" id="learning_rate">
                  <option value="constant">Constant</option>
                  <option value="optimal">Optimal</option>
                  <option value="invscaling">Inverse Scaling</option>
                  <option value="adaptive">Adaptive</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>eta0</td>
              <td>
                <input
                  type="number"
                  placeholder="(default = 0.01)"
                  name="eta0"
                />
              </td>
            </tr>
            <tr>
              <td>power_t</td>
              <td>
                <input
                  type="number"
                  step="0.25"
                  placeholder="(default = 0.25)"
                  name="power_t"
                />
              </td>
            </tr>
            <tr>
              <td>early_stopping</td>
              <td>
                <input
                  type="checkbox"
                  placeholder="early_stopping"
                  name="early_stopping"
                  value="false"
                />
              </td>
            </tr>
            <tr>
              <td>validation_fraction</td>
              <td>
                <input
                  type="number"
                  step="0.1"
                  placeholder="(default = 0.1)"
                  name="validation_fraction"
                />
              </td>
            </tr>
            <tr>
              <td>
                <abbr
                  title="Number of iterations with no improvement to wait before stopping fitting."
                  >n_iter_no_change</abbr
                >
              </td>
              <td>
                <input
                  type="number"
                  placeholder="(default = 5)"
                  name="n_iter_no_change"
                />
              </td>
            </tr>
            <tr>
              <td>warm_start</td>
              <td>
                <input
                  type="checkbox"
                  placeholder="warm_start"
                  name="warm_start"
                  value="false"
                />
              </td>
            </tr>
            <tr>
              <td>average</td>
              <td>
                <input
                  type="number"
                  placeholder="(default = False) OR 10"
                  name="average"
                />
              </td>
            </tr>
          </table>
        </details>

        <br />

        <input type="radio" id="polynomial" name="model" value="polynomial" />
        <label for="polynomial">Polynomial Linear Regression</label>

        <details>
          <summary>Hyperparameters</summary>

          <!-- FIXME:  -->
        </details>

        <br />

        <input type="radio" id="logistic" name="model" value="logistic" />
        <label for="logistic">Logistic Regression</label>

        <h4>
          <button>
            <a href="https://www.cs.uaf.edu/">🚀 Train Model</a>
          </button>
        </h4>
      </form>

      <footer>
        <br />

        <br />

        <hr />

        <br />

        <br />

        <div style="text-align: center">
          <form action="export">
            <button>
              <a href="/">« BACK</a>
            </button>
            ◦•◦
            <input type="submit" value="NEXT »" />
          </form>
        </div>
      </footer>
    </div>
  </body>
</html>
