<!DOCTYPE html>
<html>

<head>
  <title>Machine Learning-GUI Web Application - Training</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }

  td:first-child {
    font-style: italic;
  }

  details {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  #visualizations {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
</style>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<body>
  <h1>Machine Learning-GUI Web Application</h1>
  <div class="status-bar" id="status-bar">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>
  <div class="container">
    <h2>Model Training</h2>
    <h4>🔗 <a href="/data" target="_blank">CSV Source</a></h4>
    <p>
      Choose a suitable machine learning model to train your data:<br />
      1. Choose Simple linear Regression when there is only one independent
      variable that influences the target variable.<br />
      2. Choose Polynomial linear Regression when there are multiple
      independent variables or when a single independent variable has a non
      linear relationship with the target variable.<br />
      3. Choose Logistic Regression when there is a classification problem -
      predicting a categorical outcome.<br />
    </p>

    <h2>Model Training</h2>

    <fieldset>
      <legend>Model Selection</legend>

      <marquee direction="right"
             behavior="alternate"
             style="border:BLUE 2px SOLID">
        <FONT COLOR=Green>Trained model will be visualized at the bottom of the page.
      </marquee>

      <form method="POST" action="/train_model">
        <div>
          <label for="simple_linear_regression"><input type="radio" id="simple_linear_regression" name="model"
              value="simple_linear_regression" required />
            Simple Linear Regression</label>
        </div>

        <p>
          Simple linear regression is a type of regression analysis where the
          number of independent variables is one and there is a linear
          relationship between the independent(x) and dependent(y) variables.
          The simple linear regression equation (<code>y=b0+b1.x</code>) is
          shown below.

          <!-- <blockquote>Source: <a href="https://towardsdatascience.com/logistic-regression-explained-9ee73cede081">Towards Data Science</a></blockquote> -->
        </p>
        <img src="https://miro.medium.com/v2/resize:fit:1000/1*xz_haBuJRSI2DaveNk-3gw.gif" alt="Polynomial Regression"
          width="300" height="300" />

        <details>
          <summary>Hyperparameters</summary>

          <h4>
            Source:
            <a
              href="https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html"><code>sklearn.linear_model.SGDRegressor</code></a>
          </h4>

          <table>
            <tr>
              <th>Parameter</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>loss</td>
              <td>
                <select name="loss" id="loss" required>
                  <option value="squared_error">Squared Error</option>
                  <option value="huber">Huber</option>
                  <option value="epsilon_insensitive">
                    Epsilon Insensitive
                  </option>
                  <option value="squared_epsilon_insensitive">
                    Squared Epsilon Insensitive
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>penalty</td>
              <td>
                <select name="penalty" id="penalty" required>
                  <option value="l2">L2</option>
                  <option value="l1">L1</option>
                  <option value="elasticnet">Elastic Net</option>
                  <option value="none">None</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>alpha</td>
              <td>
               
		<input type="number" step="0.0001" placeholder="(default = 0.0001)" value="0.0001" min="0" max="1" name="alpha" required oninput="setCustomValidity(value < 0 || value > 1 ? 'Value must be between 		0 and 1.' : '')"/>

                
	          
	      </td>
            </tr>
            <tr>
              <td>l1_ratio</td>
              <td>
                <input type="number" step="0.15" placeholder="(default = 0.15)" value="0.15" name="l1_ratio" required />
              </td>
            </tr>
            <tr>
              <td>fit_intercept</td>
              <td>
                <select name="fit_intercept" id="fit_intercept required">
                  <option value="True">True</option>
                  <option value="False">False</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>max_iter</td>
              <td>
                <input type="number" step="1" placeholder="(default = 1000)" value="1000" min="1" max="5000" name="max_iter" required oninput="setCustomValidity(value < 1 || value > 5000 ? 'Value must be between 		1 and 5000.' : '')"/>

              </td>
            </tr>
            <tr>
              <td>
                <abbr title="Tolerance">tol</abbr>
              </td>
              <td>
                <input type="number" step="1e-3" placeholder="(default = 1e-3)" value="1e-3" min="0" name="tol" required oninput="setCustomValidity(value < 0 || value > 1 ? 'Value must be between 0 and 1.' : '')"/>
              </td>
            </tr>
            <tr>
              <td>shuffle</td>
              <td>
                <select name="shuffle" id="shuffle" required>
                  <option value="True">True</option>
                  <option value="False">False</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>verbose</td>
              <td>
                <input type="number" step="0.0001" placeholder="(default = 0)" value="0" min="0" max="1" name="verbose" required oninput="setCustomValidity(value < 0 || value > 1 ? 'Value must be between 		        0 and 1.' : '')"/>
              </td>
            </tr>
            <tr>
              <td>epsilon</td>
              <td>
                <input type="number" step="0.001" placeholder="(default = 0.1)" value="0.1" min="0.001" max="0.1" name="epsilon" required oninput="setCustomValidity(value < 0.001 || value > 0.1 ? 'Value must be 		between 0.001 and 0.1.' : '')"/>
              </td>
            </tr>
            <tr>
              <td>random_state</td>
              <td>
                <input placeholder="(default = None)" value="None" name="random_state" required />
              </td>
            </tr>
            <tr>
              <td>learning_rate</td>
              <td>
                <select name="learning_rate" id="learning_rate">
                  <option value="constant">Constant</option>
                  <option value="optimal">Optimal</option>
                  <option value="invscaling">Inverse Scaling</option>
                  <option value="adaptive">Adaptive</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>eta0</td>
              <td>
                <input type="number" step="0.001" placeholder="(default = 0.01)" value="0.01" min="0.001" max="1.0" name="eta0" required oninput="setCustomValidity(value < 0.001 || value > 1.0 ? 'Value must be 		between 0.01 and 1.' : '')"/>
            </tr>
            <tr>
              <td>power_t</td>
              <td>
                <input type="number" step="0.25" placeholder="(default = 0.5)" value="0.5" min="0" max="1" name="power_t" required oninput="setCustomValidity(value < 0 || value > 1 ? 'Value must be between 			0 and 1.' : '')"/>
            </tr>
            <tr>
              <td>early_stopping</td>
              <td>
                <select name="early_stopping" id="early_stopping" required>
                  <option value="False">False</option>
                  <option value="True">True</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>validation_fraction</td>
              <td>
                <input type="number" step="0.1" placeholder="(default = 0.1)" value="0.1" min="0" max="1" name="validation_fraction" required oninput="setCustomValidity(value < 0 || value > 1 ? 'Value must be 		between 0 and 1.' : '')"/>
            </tr>
            <tr>
              <td>
                <abbr
                  title="Number of iterations with no improvement to wait before stopping fitting.">n_iter_no_change</abbr>
              </td>
              <td>
                <input type="number" step="1" placeholder="(default = 5)" value="5" min="1"name="n_iter_no_change" required "/>
              </td>
            </tr>
            <tr>
              <td>warm_start</td>
              <td>
                <select name="warm_start" id="warm_start" required>
                  <option value="False">False</option>
                  <option value="True">True</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>average</td>
              <td>
                <select name="average" id="average" required>
                  <option value="False">False</option>
                  <option value="True">True</option>
                </select>
              </td>
            </tr>
          </table>
        </details>

        <br />

        <div>
          <label for="polynomial_linear_regression"><input type="radio" id="polynomial_linear_regression" name="model"
              value="polynomial_linear_regression" />
            Polynomial Linear Regression</label>
        </div>

        <p>
          Polynomial Regression is a regression algorithm that models the
          relationship between a dependent(y) and independent variable(x) as nth
          degree polynomial. The Polynomial Regression equation is given below:

          <br />

          <code>y= b0+b1x1+ b2x1^2+ b2x1^3+...... bnx1^n</code>

          <!-- <blockquote>Source: <a href="https://towardsdatascience.com/logistic-regression-explained-9ee73cede081">Towards Data Science</a></blockquote> -->
        </p>

        <img src="https://miro.medium.com/v2/resize:fit:1000/1*Cat1swI8xmNYui6w5AYp8A.gif" alt="Polynomial Regression"
          width="300" height="300" />

        <br />

        <details>
          <summary>Hyperparameters</summary>

          <h4>
            Source:
            <a
              href="https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html"><code>sklearn.linear_model.SGDRegressor</code></a>
          </h4>

          <table>
            <tr>
              <th>Parameter</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>loss</td>
              <td>
                <select name="loss" id="loss">
                  <option value="squared_loss">Squared Loss</option>
                  <option value="huber">Huber</option>
                  <option value="epsilon_insensitive">
                    Epsilon Insensitive
                  </option>
                  <option value="squared_epsilon_insensitive">
                    Squared Epsilon Insensitive
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>penalty</td>
              <td>
                <select name="penalty" id="penalty">
                  <option value="l2">L2</option>
                  <option value="l1">L1</option>
                  <option value="elasticnet">Elastic Net</option>
                  <option value="none">None</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>alpha</td>
              <td>
                <input type="number" step="0.0001" placeholder="(default = 0.0001)" name="alpha" />
              </td>
            </tr>
            <tr>
              <td>l1_ratio</td>
              <td>
                <input type="number" step="0.15" placeholder="(default = 0.15)" name="l1_ratio" />
              </td>
            </tr>
            <tr>
              <td>fit_intercept</td>
              <td>
                <input type="checkbox" placeholder="fit_intercept" name="fit_intercept" value="true" />
              </td>
            </tr>
            <tr>
              <td>max_iter</td>
              <td>
                <input type="number" step="1000" placeholder="(default = 1000)" name="max_iter" />
              </td>
            </tr>
            <tr>
              <td>
                <abbr title="Tolerance">tol</abbr>
              </td>
              <td>
                <input type="number" step="1e-3" placeholder="(default = 1e-3)" name="tol" />
              </td>
            </tr>
            <tr>
              <td>shuffle</td>
              <td>
                <input type="checkbox" placeholder="shuffle" name="shuffle" value="true" />
              </td>
            </tr>
            <tr>
              <td>verbose</td>
              <td>
                <input type="checkbox" placeholder="verbose" name="verbose" value="true" />
              </td>
            </tr>
            <tr>
              <td>epsilon</td>
              <td>
                <input type="number" step="0.1" placeholder="(default = 0.1)" name="epsilon" />
              </td>
            </tr>
            <tr>
              <td>random_state</td>
              <td>
                <input placeholder="(default = None)" name="random_state" />
              </td>
            </tr>
            <tr>
              <td>learning_rate</td>
              <td>
                <select name="learning_rate" id="learning_rate">
                  <option value="constant">Constant</option>
                  <option value="optimal">Optimal</option>
                  <option value="invscaling">Inverse Scaling</option>
                  <option value="adaptive">Adaptive</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>eta0</td>
              <td>
                <input type="number" placeholder="(default = 0.01)" name="eta0" />
              </td>
            </tr>
            <tr>
              <td>power_t</td>
              <td>
                <input type="number" step="0.25" placeholder="(default = 0.25)" name="power_t" />
              </td>
            </tr>
            <tr>
              <td>early_stopping</td>
              <td>
                <input type="checkbox" placeholder="early_stopping" name="early_stopping" value="false" />
              </td>
            </tr>
            <tr>
              <td>validation_fraction</td>
              <td>
                <input type="number" step="0.1" placeholder="(default = 0.1)" name="validation_fraction" />
              </td>
            </tr>
            <tr>
              <td>
                <abbr
                  title="Number of iterations with no improvement to wait before stopping fitting.">n_iter_no_change</abbr>
              </td>
              <td>
                <input type="number" placeholder="(default = 5)" name="n_iter_no_change" />
              </td>
            </tr>
            <tr>
              <td>warm_start</td>
              <td>
                <input type="checkbox" placeholder="warm_start" name="warm_start" value="false" />
              </td>
            </tr>
            <tr>
              <td>average</td>
              <td>
                <input type="number" placeholder="(default = False) OR 10" name="average" />
              </td>
            </tr>
          </table>
        </details>

        <br />

        <div>
          <label for="logistic_regression"><input type="radio" id="logistic_regression" name="model"
              value="logistic_regression" />
            Logistic Regression</label>
        </div>

        <p>
          Logistic regression is an example of supervised learning. It is used
          to calculate or predict the probability of a binary (yes/no) event
          occurring.
        </p>

        <p>
          An example of logistic regression could be applying machine learning
          to determine if a person is likely to be infected with COVID-19 or
          not. <code>p(X) = e^(b0 + b1*X) / (1 + e^(b0 + b1*X))</code>

          <img src="https://miro.medium.com/v2/resize:fit:1400/1*44qV8LhNzE5hPnta2PaaHw.png" alt="Logisitc Regression"
            width="300" height="300" />

          <!-- <blockquote>Source: <a href="https://towardsdatascience.com/logistic-regression-explained-9ee73cede081">Towards Data Science</a></blockquote> -->
        </p>

        <br />

        <details>
          <summary>Hyperparameters</summary>

          <h4>
            Source:
            <a
              href="https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html"><code>sklearn.linear_model.SGDRegressor</code></a>
          </h4>

          <table>
            <tr>
              <th>Parameter</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>loss</td>
              <td>
                <select name="loss" id="loss">
                  <option value="squared_loss">Squared Loss</option>
                  <option value="huber">Huber</option>
                  <option value="epsilon_insensitive">
                    Epsilon Insensitive
                  </option>
                  <option value="squared_epsilon_insensitive">
                    Squared Epsilon Insensitive
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>penalty</td>
              <td>
                <select name="penalty" id="penalty">
                  <option value="l2">L2</option>
                  <option value="l1">L1</option>
                  <option value="elasticnet">Elastic Net</option>
                  <option value="none">None</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>alpha</td>
              <td>
                <input type="number" step="0.0001" placeholder="(default = 0.0001)" name="alpha" />
              </td>
            </tr>
            <tr>
              <td>l1_ratio</td>
              <td>
                <input type="number" step="0.15" placeholder="(default = 0.15)" name="l1_ratio" />
              </td>
            </tr>
            <tr>
              <td>fit_intercept</td>
              <td>
                <input type="checkbox" placeholder="fit_intercept" name="fit_intercept" value="true" />
              </td>
            </tr>
            <tr>
              <td>max_iter</td>
              <td>
                <input type="number" step="1000" placeholder="(default = 1000)" name="max_iter" />
              </td>
            </tr>
            <tr>
              <td>
                <abbr title="Tolerance">tol</abbr>
              </td>
              <td>
                <input type="number" step="1e-3" placeholder="(default = 1e-3)" name="tol" />
              </td>
            </tr>
            <tr>
              <td>shuffle</td>
              <td>
                <input type="checkbox" placeholder="shuffle" name="shuffle" value="true" />
              </td>
            </tr>
            <tr>
              <td>verbose</td>
              <td>
                <input type="checkbox" placeholder="verbose" name="verbose" value="true" />
              </td>
            </tr>
            <tr>
              <td>epsilon</td>
              <td>
                <input type="number" step="0.1" placeholder="(default = 0.1)" name="epsilon" />
              </td>
            </tr>
            <tr>
              <td>random_state</td>
              <td>
                <input placeholder="(default = None)" name="random_state" />
              </td>
            </tr>
            <tr>
              <td>learning_rate</td>
              <td>
                <select name="learning_rate" id="learning_rate">
                  <option value="constant">Constant</option>
                  <option value="optimal">Optimal</option>
                  <option value="invscaling">Inverse Scaling</option>
                  <option value="adaptive">Adaptive</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>eta0</td>
              <td>
                <input type="number" placeholder="(default = 0.01)" name="eta0" />
              </td>
            </tr>
            <tr>
              <td>power_t</td>
              <td>
                <input type="number" step="0.25" placeholder="(default = 0.25)" name="power_t" />
              </td>
            </tr>
            <tr>
              <td>early_stopping</td>
              <td>
                <input type="checkbox" placeholder="early_stopping" name="early_stopping" value="false" />
              </td>
            </tr>
            <tr>
              <td>validation_fraction</td>
              <td>
                <input type="number" step="0.1" placeholder="(default = 0.1)" name="validation_fraction" />
              </td>
            </tr>
            <tr>
              <td>
                <abbr
                  title="Number of iterations with no improvement to wait before stopping fitting.">n_iter_no_change</abbr>
              </td>
              <td>
                <input type="number" placeholder="(default = 5)" name="n_iter_no_change" />
              </td>
            </tr>
            <tr>
              <td>warm_start</td>
              <td>
                <input type="checkbox" placeholder="warm_start" name="warm_start" value="false" />
              </td>
            </tr>
            <tr>
              <td>average</td>
              <td>
                <input type="number" placeholder="(default = False) OR 10" name="average" />
              </td>
            </tr>
          </table>
        </details>

        <br />

        <div style="text-align: center;">
          <input type="submit" value="Train Model & Visualize Data" />
        </div>
      </form>

    </fieldset>

    <br>

    <br>

    <details open="true">
      <summary>Graphical Output</summary>

      {% if graphic %}
      <img src="data:image/png;base64,{{ graphic }}" alt="Data Visualization" />
      {% endif %}
    </details>

    <div class="page-navigation">
      <a href="/scaling" class="button">« Scaling</a>
      ◦◦◦•◦◦
      <a href="/evaluation" class="button">Evaluation »</a>
    </div>
  </div>
</body>

</html>
