[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
