extends layout

block content
  h1= '🤖 Machine Learning Workflow/Pipeline'

  p Visualize the results of a given CSV file upload.

  h2= '📈 Scatter Plot'

  iframe(src="https://chart-studio.plotly.com/~techsolomon/3.embed", width="100%", height="600")

  hr

  h2= '📊 Bar Chart'

  iframe(src="https://chart-studio.plotly.com/~techsolomon/5.embed", width="100%", height="600")
