<!DOCTYPE html>
<html>
  <head>
    <title>Machine Learning-GUI Web Application - Export</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>🤖 Machine Learning-GUI Web Application</h1>
    <div class="container">
      <h2>Code Download</h2>

      <embed src="https://colab.google/" width="100%" height="500px" />

      <div class="page-navigation">
        ◦◦◦◦◦•
        <a href="/validation" class="button">« Validation</a>
      </div>
    </div>
  </body>
</html>
