<!DOCTYPE html>
<html>
  <head>
    <title>Machine Learning-GUI Web Application</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>🤖 Machine Learning-GUI Web Application</h1>
    <div class="container">
      <p>
        Welcome to the Machine learning web app! this website is designed to
        train a data set by Simple linear regression, polynomial regression and
        logistic regression.
      </p>

      <h2>Data Uploading and Splitting</h2>

      <form method="POST" action="/upload" enctype="multipart/form-data">
        <label for="file">Upload your CSV file:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" value="Upload" />
      </form>

      <form method="POST" action="/split">
        <label for="input_column">Select Input Column:</label>
        <select name="input_column" id="input_column">
          {% for column in columns %}
          <option value="{{ column }}">{{ column }}</option>
          {% endfor %}
        </select>

        <label for="target_column">Select Target Column:</label>
        <select name="target_column" id="target_column">
          {% for column in columns %}
          <option value="{{ column }}">{{ column }}</option>
          {% endfor %}
        </select>

        <label for="test_size">Test Size:</label>
        <input
          type="text"
          name="test_size"
          id="test_size"
          placeholder="e.g., 0.2"
        />
        <input type="submit" value="Split Data" />
      </form>

      <div class="status-bar">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
      </div>

      <div class="page-navigation">
        •◦◦◦◦◦
        <a href="/visualization" class="button">Visualization »</a>
      </div>
    </div>
  </body>
</html>
