<!DOCTYPE html>
<html>
  <head>
    <title>Machine Learning-GUI Web Application - Visualization</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>🤖 Machine Learning-GUI Web Application</h1>
    <div class="container">
      <h2>Data Visualization</h2>
      <p>
        Explore and visualize your data using machine learning techniques on
        this page.
      </p>
      <form method="POST" action="/visualize_whole">
        <input type="submit" value="Visualize Whole Data" />
      </form>

      <form method="POST" action="/visualize_training">
        <input type="submit" value="Visualize Training Data" />
      </form>

      <form method="POST" action="/visualize_testing">
        <input type="submit" value="Visualize Testing Data" />
      </form>

      {% if graphic %}
      <img src="data:image/png;base64,{{ graphic }}" alt="Data Visualization" />
      {% endif %}

      <div class="page-navigation">
        <a href="/" class="button">Go to Data Uploading</a>
        <a href="/scaling" class="button">Go to Data Scaling</a>
      </div>
    </div>
  </body>
</html>
