<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benchmark code</title>
</head>
<body>
    <h1>GUI for ML models (Benchmark example)</h1>
    
    <h2>Upload a CSV File</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <button type="submit">Upload</button>
    </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if X_train %}
        <h2>Choose Testing data </h2>
    {% endif %}
    
    {% if graphic %}
        <h2>Data Visualization</h2>
        <img src="data:image/png;base64,{{ graphic }}" alt="Data Visualization">
    {% endif %}
    
    <h2>Different Phases</h2>
    <form action="/split" method="POST">
        <label for="test_size">Chose Testing data:</label>
        <input type="number" name="test_size" step="0.01" min="0" max="1" required>
        <button type="submit">Split the Input Data</button>
    </form>
    
    <form action="/visualize" method="GET">
        <button type="submit">Visualize the Data</button>
    </form>
    
</body>
</html>
